DATABASE_URL="mysql://root:password@localhost:3306/ptex_db"
NEXTAUTH_SECRET="replace-with-32-plus-character-random-string-please"
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="replace-with-32-plus-character-random-string-please"
AUTH_TRUST_HOST="true"
BCRYPT_ROUNDS=12
